In [25]:
import pandas as pd
import re

## Import Data

In [21]:
df= pd.read_csv('IKEA_product.csv', index_col=[0])
df

,product_name,product_description,price,sold
0,ADDE,"Kursi, putih",Rp 170.000,3460 orang telah membeli produk ini
1,ADDE,"Kursi, hitam",Rp 170.000,2259 orang telah membeli produk ini
2,ADDE,"Kursi, abu-abu/putih",Rp 170.000,1141 orang telah membeli produk ini
3,ADDE,"Kursi, merah/putih",Rp 170.000,424 orang telah membeli produk ini
4,ÄPPLARÖ,"Mj+2kursi dg sndrn lngn+bangku, cokelat/hållö ...",Rp 225.000,No Data
...,...,...,...,...
435,ÄPPLARÖ,"Meja+4 kursi recliner, l.ruang, diwarnai cokel...",Rp 225.000,1 orang telah membeli produk ini
436,ÄPPLARÖ,"Meja+6 kursi dg sndrn lgn, luar rg, diwarnai c...",Rp 225.000,No Data
437,ÄPPLARÖ,"Bangku dengan sandaran, luar ruang, diwarnai c...",Rp 225.000,64 orang telah membeli produk ini
438,ÄPPLARÖ,"Bangku, luar ruang, dapat dilipat diwarnai cok...",Rp 225.000,138 orang telah membeli produk ini
439,ÄPPLARÖ,"Meja+4 kursi dg sndrn tgn, l rg, diwarnai coke...",Rp 225.000,1 orang telah membeli produk ini

## Read The Data

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440 entries, 0 to 439
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_name         440 non-null    object
 1   product_description  440 non-null    object
 2   price                440 non-null    object
 3   sold                 440 non-null    object
dtypes: object(4)
memory usage: 17.2+ KB

In [30]:
print(df.product_name.value_counts())
print(df.price.value_counts())

ÄPPLARÖ    396
ADDE        44
Name: product_name, dtype: int64
Rp 225.000    396
Rp 170.000     44
Name: price, dtype: int64

In [24]:
df.isnull().sum()

product_name           0
product_description    0
price                  0
sold                   0
dtype: int64

## Data transform

In [73]:
new_price= []
for i in df['price']:
    price= re.findall(r'\d{3}',i)
    newprice= ''.join(price)
    new_price.append(newprice)

df['price'] = new_price
df['price']= df['price'].astype('int')

In [79]:
sold_count= []
for i in df['sold']:
    if i != 'No Data':
        newsold= re.split(r'\s', i)
        sold_count.append(newsold[0])
    else:
        i= 0
        sold_count.append(i)

df['sold']= sold_count
df['sold']= df['sold'].astype('int')

In [81]:
df.head()

,product_name,product_description,price,sold
0,ADDE,"Kursi, putih",170000,3460
1,ADDE,"Kursi, hitam",170000,2259
2,ADDE,"Kursi, abu-abu/putih",170000,1141
3,ADDE,"Kursi, merah/putih",170000,424
4,ÄPPLARÖ,"Mj+2kursi dg sndrn lngn+bangku, cokelat/hållö ...",225000,0

In [84]:
df.to_csv('IKEA_Chair_Product.csv', index= False)